<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <form action="/api/url" method="post" style="margin-block: 20px">
      <input type="text" name="url" placeholder="Enter URL" />
      <button type="submit">Generate</button>
    </form>
    <% if (urls && urls.length === 0 ) { %>
      <p>No Data</p>
    <%}
    else{
      %>
      generated URL: http://localhost:8000/api/<%= newURL %>
      <%
    }
    %>
    <p></p>
    <% if (urls && urls.length > 0 ) { %>
    <table>
      <thead>
        <tr>
          <th>S. No</th>
          <th>Original URL</th>
          <th>Short URL</th>
        </tr>
      </thead>
      <tbody>
        <% urls.forEach((url, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><a href="<%= url.originalURL %>"><%= url.originalURL %></a></td>
          <td>
            <a href="<%= url.originalURL %>"
              >http://localhost:8000/<%= url.shortURL %></a
            >
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } %>
  </body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Home Page</h1>
  <form action="/api/url" method="post" style="margin-block: 20px">
    <input type="text" name="url" placeholder="Enter URL" />
    <button type="submit">Generate</button>
    <% if (locals.urls.length===0) { %>
      <p>No Data</p>
      <% } %>
  </form>
</body>
</html> -->
