<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <form action="/api/url" method="post" style="margin-block: 20px">
      <input type="text" name="url" placeholder="Enter URL" />
      <button type="submit">Generate</button>
      <% if (locals.newURL){%>
      <p>generatedID:<a href=<%= locals.originalURL  %>>http://localhost:8000/<%=locals.newURL%></a></p>
      <%} %>
    </form>
    <% if (locals.urls) { %>
    <table>
      <thead>
        <th>S. No</th>
        <th>Redirect</th>
        <th>ShortID</th>
      </thead>
      <tbody>
        <% urls.forEach((url, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><a href=<%= locals.originalURL%>><%= url.originalURL %></a></td>
          <td><a href=<%= locals.originalURL%>> http://localhost:8000/<%= url.shortURL %></a></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } %>
  </body>
</html>
